/* 
    Mini-Project RevoU
    I Nyoman Marcel Mahardika  
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

body {
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #333;
}
::-webkit-input-placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}

.titlepage {
    margin-top: 40px;
  font-size: 36px;
    position: absolute;
}

.text {
  margin-top: 145px;
  font-size: 16px;
  line-height: 0.5;
}
.rumus {
    font-weight: bold;
    text-align: center;
}
h3 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

table {
    font-size: 16px;
    /* margin-top: 200px; */
}

.tabs {
margin-top: 120px;
margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  /* height: 500px; */
  /* background-color: #e5e5e5; */
  box-shadow: 0 10px 80px rgba(0,0,0,0.3);
}

.triangle {
    position: absolute;
    margin-left: 95px;
}

.input {
  position: absolute;
  opacity: 0;
}
#base, #height, #side1, #side2, #side3{
    margin: 2px 0;
    padding: 8px;
    width: 250px;
    border-radius: 5px;
    border: 3px solid #ccc;
    outline: none;
}
.label_base, .label_height, .label_side {
    float: left;
    padding-right: 10px;
}

.btn_luas {
    background-color: #5e53d4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin-left: 38%;
    margin-top: -10px;
}
.btn_keliling {
    background-color: #5e53d4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    margin-left: 35%;
    margin-top: -10px;
}
.btn_reset {
    /* position: absolute; */
    background-color: #e3b343;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
    float: right;
    margin-top: 50px;
  
}

.label {
    width: 140px !important;
    text-align: center;
    padding: 20px 30px;
    background-color: #5e53d4;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    transition: 100ms;
}
.label:active {
  background: #ccc;
}
.input:focus {
  z-index: 1;
}

.input:checked + label {
  background: #fff;
  color: #000;
}
.panel {
  display: none;
  padding: 20px 30px 30px;
  background: #fff;
  height: 700px;
  order: 99;
}
.input:checked + .label + .panel {
  display: block;
}